eureka:
    client:
        fetch-registry: true
        register-with-eureka: true
        service-url:
            defaultZone: http://localhost:8761/eureka
    instance:
        lease-renewal-interval-in-seconds: 5
server:
    port: 7050
spring:
    application:
        name: ApiGateway
    cloud:
        discovery:
            enabled: true
        gateway:
            globalcors:
              add-to-simple-url-handler-mapping: true
              corsConfigurations:
               '[/**]':
                 allowedOrigins: "http://localhost:3000"
                 allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                 allowedHeaders: "*"
 
            routes:
            -   id: customer service
                predicates: Path=/customers/**
                uri: lb://CustomerService
            -   id: account management
                predicates: Path=/accounts/**
                uri: lb://AccountMgmtService
            -   id: transaction service
                predicates: Path=/transaction/**
                uri: lb://TRANSACTIONSERVICE
            -   id: auth server
                predicates: Path=/auth/**
                uri: lb://AuthServer

    zipkin:
        base-url: http://localhost:9411/
management:
    zipkin:
        tracing:
            enabled: true
    tracing:
        sampling:
            probability: 1.0
